{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Partie en cours - {{ parent() }}
{% endblock %}

{% block ll_body %}
    <link rel="stylesheet"
          type="text/css"
          href="http://localhost/WebLoveLetter/web/pulse.css"
    />
    <div class="container">
        <h1>Party list :</h1>
        
        
        {% for party in list %}
        <li> <a href=" {{ path('LoveBundle_joinParty', {'partyid': party.id}) }}  ">Partie numéro {{ party.id }} de {{ party.host }}</a></li>
        {% endfor %}
        
        
         <a class="btn btn-primary btn-lg" href="{{ path('LoveBundle_createParty') }}">
                    Créer une partie
            </a>
        
        
        
    </div>
      
      
{% endblock %}