{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Liste des Parties - {{ parent() }}
{% endblock %}

{% block ll_body %}

    <div id="list" class="container">
        <div class="well">
            <h1>Party list :</h1><br>

            {% for party in list %}
            <li> <a href="{{ path('LoveBundle_joinParty', {'partyid': party.id}) }}">Partie numéro {{ party.id }} de {{ party.host }}</a></li>
            {% endfor %}

            <br><a class="btn btn-primary btn-lg" href="{{ path('LoveBundle_createParty') }}">Créer une partie</a>

        </div>
    </div>
      
    <script type="text/javascript">
         $(function(){
             $('[data-toggle="popover"]').popover();
             });
             var auto_refresh = setInterval(
                 function () {
                    $('#list').load(" #list").fadeIn("slow");
            }, 5000); // refresh every 2000 milliseconds
    </script>
      
      
{% endblock %}