{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Partie en cours - {{ parent() }}
{% endblock %}

{% block ll_body %}


    <div id="party" class="container">
        <div class="well">

                {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-info pulse-danger" data-toggle="collapse" data-target="#debug">Info debuggage</button>
                    <div id="debug" class="collapse well">
                        Liste des joueurs dans la partie :
                        {{ dump(party.partyPlayers)}}
                        Nombre de joueurs dans la partie :
                        {{ dump(party.getNbPlayers)}}
                        Liste des scores des joueurs dans la partie :
                        {{ dump(party.playerScore)}}
                        Est-ce que la partie est demarrée (1:Oui/0:Non) :
                        {{ dump(party.isStarted)}}
                        Est-ce que la partie est finie (1:Oui/0:Non) :
                        {{ dump(party.isOver)}}
                    </div><br>
                {% endif %}

            <h1>Partie de {{ party.host }} : <small>({{ party.getNbPlayers}} joueurs inscrits)</small></h1><br>

            <br><h4>Liste des joueurs :</h4>
            <table style="width:25%" class="table" frame="box" rules="none">
                {% for key, value in party.partyPlayers %}
                   <tr><td>{{ value }}</td></tr>
                {% endfor %}
            </table>

            {% if party.isOver == 0 %}
                <br><a class="btn btn-primary" href="{{ path('LoveBundle_leaveParty',{'partyid': party.id})}}">Quitter la partie</a>
                {% if app.user == party.host and party.getNbPlayers > 1 %}
                    <br><br><a class="btn btn-primary pulse-success" href="{{ path('LoveBundle_create',{'gameid': party.id})}}">Commencer la partie</a>
                {% endif %}
            {% else %}
                <h4>Tableau des score :</h4>
                    <table style="width:25%" class="table" frame="box" rules="none">
                        {% for key, value in party.playerScore %}
                            <tr><td>{{ key }} : {{ value }}</td></tr>
                        {% endfor %}
                    </table>
                {% if party.globalWinner %}
                    <h3> La partie a été remportée par {{ party.globalWinner }} !</h3>
                {% else %}
                    <h3> La partie a été annulée !</h3>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <script type="text/javascript">
        var nbjoueurs = {{ party.getNbPlayers}}
        var started = {{ party.isStarted }}
        var auto_refresh = setInterval(function () {
            $.getJSON('{{ path('LoveBundle_partyrefresh',{'partyid': party.id}) }}',function (data) {
                //on ne redirige pas si la partie est finie
                if (!data[2]){
                    if (nbjoueurs != data[0]){
                        //$('#game').load("{{ party.id }} #game").fadeIn("slow");
                        window.location.reload();
                    }
                    if (data[1] ){
                        window.location.replace("{{ path('LoveBundle_view',{'gameid': party.id})}}");
                    }
                }
            })
        }, 2000); // refresh every 2000 milliseconds
        
    </script>
      
{% endblock %}