{% extends "EJLoveBundle:Default:layout.html.twig" %}

{% block title %}
    Partie en cours - {{ parent() }}
{% endblock %}

{% block ll_body %}

    <div class="container">
        <div id="header"  class="jumbotron">

            <h2>Partie numéro {{ game.id }}</h2>
            <pre>
                    {{ dump(game.cardsInHand) }}
            </pre>
            <ul>
                {% for key,values in game.cardsInHand %}
                    <li>{{ key }}</li>
                    {% for key, value in values %}
                        <img src="{{ game.cards[value].imageCarte }}" alt="{{ game.cards[value].nomCarte }}">
                        {{ value }}
                    {% endfor %}
                {% endfor %}
            </ul>

        </div>
        <hr>
    </div>


{% endblock %}